.container-fluid
  .row
    .col-lg-2
    .col-lg-8
      =@topverse.translation
      %br
      =render 'translations/new', :locals => {:verse => @verse}
    .col-lg-2
  .row
    .col-lg-2
    .col-lg-8
      =render @translations
