.container
  %h1.text-lg-center Welcome to Bibliocracy

.container-fluid
  .row
    .col-lg-3
    .col-lg-6
      %p.text-lg-center A crowdsourced translation engine aimed at producing a historically, culturally, and meaningfully accurate translation of the bible. Submit translations, and vote on other translations to move closer to a more accurate revelation of meaning.
    .col-lg-3
  .row
    .col-lg-2
    .col-lg-8
      =@topverse.translation
      %br
      =render 'translations/new', :locals => {:verse => @verse}
    .col-lg-2
  .row
    .col-lg-2
    .col-lg-8
      - @translations.each do |translation|
        %p= translation.translation 
